<component name="ArtifactManager">
    <artifact name="TC::${param.pluginName} exploded">
        <output-path>$PROJECT_DIR$/${artifactPath}</output-path>
        <root id="root">
            <element id="directory" name="lib">
                <element id="archive" name="launcher.jar">
                    <element id="module-output" name="launcher" />
                </element>
                <element id="library" level="project" name="JetLauncher App-Wrapper IMPL" />
            </element>
        </root>
    </artifact>
</component>